node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.iml
web-build/

# macOS
.DS_Store

# User Specific Setting under .idea
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/